service:
  name: aws-nodejs-typescript

# Add the serverless-webpack plugin
plugins:
  - serverless-plugin-typescript
  - serverless-offline

provider:
  name: aws
  runtime: nodejs6.10

functions:
  integration-nodes:
    handler: handler.integrationNodes
    events:
      - http:
          method: get
          path: integrationNodes
