service: ebot7-example-application

# Add the serverless-webpack plugin
plugins:
  - serverless-plugin-typescript
  - serverless-offline

provider:
  name: aws
  runtime: nodejs14.x
  lambdaHashingVersion: "20201221"
  apiGateway:
    shouldStartNameWithService: true
  stage: ${opt:stage, 'dev'}
  profile: ${opt:profile, 'prod'}
functions:
  integrationNodesDefinition:
    handler: handler.integrationNodesDefinition
    events:
      - http:
          method: get
          path: integration-nodes
  integrationNodesExecution:
    handler: handler.integrationNodesExecution
    events:
      - http:
          method: post
          path: integration-nodes/{id}
